@charset "UTF-8";
/* abstracts */
.btn--red-social {
  background-color: #3b5998;
}

.btn--red-social {
  background-color: #3f729b;
}

.btn--red-social {
  background-color: #00acee;
}

.btn--red-social {
  background-color: #25d366;
}

/* mixin */
/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: url("../../images/foto_fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.85;
}

.fondo img {
  background-size: cover;
  background-position: center center;
  background-image: url("./images/logo.png");
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}

.fondo {
  background-size: cover;
  background-position: center center;
  color: black;
}

.content-cabecera {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.content-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  margin: auto;
}

.content-logo img {
  width: 100%;
  height: 100%;
}

.content-cabecera h1 {
  margin-top: 20px;
}

.content-cabecera p {
  margin-top: 40px;
  font-size: 20px;
}

#contenedor_carga {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-animation: all 1s ease;
  animation: all 1s ease;
  z-index: 10000;
}

#carga {
  border: 15px solid #ccc;
  border-top-color: #f4266a;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@-webkit-keyframes girar {
  from {
    transform: rotate 0deg;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes girar {
  from {
    transform: rotate 0deg;
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  background-color: white;
  padding: 20px;
}

#loginBar {
  text-align: center;
}

.container-fluid {
  width: 120px;
  height: 120px;
  margin: auto;
}

#btnModalLogin {
  margin-left: 10px;
}

.btn-outline-primary {
  border-color: black;
}

#btnLogout {
  color: white;
}

.btn-outline-secondary {
  border-color: black;
}

#nombreUsuario {
  margin-left: 10px;
}

.content1 {
  width: 100%;
}

.img-content1 {
  text-align: center;
}

.img-content1 img {
  width: 100%;
  text-align: center;
}

.text-content1 {
  width: 100%;
  text-align: center;
}

.text-content1 h1 {
  margin-top: 40px;
  text-align: center;
}

.text-content1 hr {
  width: 70%;
  margin: 20px auto;
  background-color: black;
}

.text-content1 p {
  margin-top: 40px;
  color: black;
}

.cuadro_divisas {
  width: 250px;
  padding: 16px;
  border: 1px solid brown;
  margin: auto;
  margin-top: 40px;
}

.conversor {
  font-size: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cantidad {
  width: 20%;
}

.titulo_conversor {
  font-size: 25px;
  margin-top: 20px;
}

.banderas_group {
  margin-top: 5px;
}

.banderas {
  display: flex;
  margin-top: 15px;
  place-items: center;
}

.bandera img {
  width: 50%;
}

#conversionTxt {
  margin-top: 15px;
}

#btnConversion {
  margin-top: 15px;
  margin-left: 10px;
}

.title_loan {
  text-align: center;
  font-family: "arial";
}

.title_loan form div label {
  font-family: "arial";
  font-weight: bold;
}

.form {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px;
  -moz-text-align-last: center;
       text-align-last: center;
  display: block;
}

.btn_loan {
  margin-left: 10px;
}

input {
  width: 200px;
  margin-bottom: 10px;
  padding: 8px;
  margin-right: -6px;
  background-color: #fdfef7;
  border: #173441 1.8px solid;
}

fieldset {
  border: #173441 2px solid;
  border-radius: 10px;
  background-color: #d1ddbe;
}

button {
  background-color: #fdfef7;
  border: #173441 1.8px solid;
  width: 100px;
  font-family: "arial";
  font-size: 15px;
  border-radius: 2px;
  padding: 10px;
}

.tab {
  border-collapse: collapse;
  text-align: center;
  font-family: "arial";
  background-color: #fdfef7;
  border: #173441 2px solid;
  margin: 0 auto;
  width: 100%;
}

thead {
  border: #173441 2px solid;
  font-weight: bold;
}

tr {
  border: #173441 2px solid;
}

td {
  border: #173441 2px solid;
}

.foot {
  width: 100%;
  color: white;
}

.part_one {
  color: black;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
}

.box {
  text-align: center;
}

.box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box figure img {
  width: 70%;
  border-radius: 50%;
}

.box h2 {
  margin-bottom: 25px;
  font-size: 20px;
}

.box p {
  margin-bottom: 10px;
}

.social-media a {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.part_two {
  width: 100%;
  background-color: brown;
  padding: 15px 10px;
  margin-bottom: 70px;
  text-align: center;
  color: white;
}

.part_two h4 {
  font-size: 10px;
}

.icon-facebook2 {
  color: #3b5998;
  height: 80px;
  width: 10px;
}

.icon-instagram {
  color: #3f729b;
  height: 80px;
  width: 10px;
}

.icon-twitter {
  color: #00acee;
  height: 80px;
  width: 10px;
}

.icon-whatsapp {
  color: #25d366;
  height: 80px;
  width: 10px;
}

/* medias queries */
/* Tamaño para pc */
@media screen and (min-width: 1200px) {
  .form {
    width: 50%;
  }
  .part_one {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .part_two {
    margin-bottom: 20px;
  }
  .cuadro_divisas {
    width: 50%;
  }
}
/* Tamaño para tablet */
@media screen and (min-width: 992px) {
  .form {
    width: 50%;
  }
  .part_one {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .part_two {
    margin-bottom: 20px;
  }
  .cuadro_divisas {
    width: 50%;
  }
}